@import "scss/__reset";

$c--highlight: #bb9a53;
$black: black;
$white: white;
$t--1: #f2f2f2;
$t--2: #aaa;

$f1: orpheuspro;
$f2: freight-sans-pro;
$f3: freight-text-pro;

$omega: 0.8rem;
$alpha: 1rem;
$bralpha: 1.3rem;
$bravo: 1.6rem;
$charlie: 2.56rem;
$delta: 4.1rem;

$space: 1rem;
$pad: 0.75 * $space;

$border: 0.125rem;
$borderette: 0.5 * $border;

html {
  font-size: 20px;
  padding: $pad;
}

ul {
  list-style: none;
}

.c-todoSection {
  padding: 0 $pad;
  & + & {
    margin-top: 2 * $space;
  }
}

.c-todoSection__title {
  font-family: $f1;
  font-size: $charlie;
  font-weight: 700;
  > span {
    font-style: italic;
    font-weight: 400;
  }
}

.todoSection__subtitle {
  font-family: $f1;
  font-size: $bralpha;
  position: relative;
  font-weight: bold;

  * + & {
    margin-top: 2 * $space;
  }
}

.c-todos {
  margin-top: $pad;
}

.c-todo {
  position: relative;
  & + & {
    margin-top: $pad;
    padding-top: $pad;
    &:before {
      content: "";
      position: absolute;
      border-top: 2px $black dotted;
      left: 0;
      right: 0;
      top: -1px;
    }
  }
}

.c-todo__title {
  font-family: $f2;
  font-size: $bravo;
  font-weight: 300;
  line-height: 1;

  .js-complete & {
    color: $t--2;
  }

  & + .c-todo__actions {
    margin-top: 0.5 * $pad;
  }

  .js-complete & {
    text-decoration: line-through;
  }
}

.c-todo__detailsWrap {
  padding-right: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.01, 0, 0.06, 1);

  .js-show & {
    max-height: 1000px;
    transition: 0.75s cubic-bezier(0.81, 0.01, 0.22, 1);
  }
}

.c-todo__details {
  transform: translate3d(0, -100%, 0);
  transition: 0.25s ease-in;

  .js-show & {
    transform: translate3d(0, 0, 0);
    transition: 0.2s ease 0.1s;
  }
}

.c-todo__subtasks {
  padding-top: 0.5 * $pad;
}

.c-todo__subtask {
  font-family: $f3;
  padding: 0.125em 0;

  &:before {
    content: "+ ";
  }
}

.c-todo__detailsToggleWrap {
  position: absolute;
  top: $pad;
  right: $pad;
  width: 1rem;
  height: 1rem;
  margin-top: #{0.5 * ($bravo - $alpha)};
  background-size: contain;

  .c-todo:first-child & {
    top: 0;
  }
}

.c-todo__detailsToggle {
  width: 1rem;
  height: 1rem;
  fill: $t--2;
  transition: 0.5s;
  .js-show & {
    fill: $black;
  }
}

.c-toreviews {
  margin-top: $pad;
}

.c-toreview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  & + & {
    margin-top: ($bralpha / $bravo) * $pad;
    padding-top: ($bralpha / $bravo) * $pad;
    &:before {
      content: "";
      position: absolute;
      border-top: 2px $black dotted;
      left: 0;
      right: 0;
      top: -1px;
    }
  }
}

.c-toreview__title {
  width: 50%;
  position: relative;
  font-family: $f2;
  font-size: $bralpha;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-toreview__options {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

$c--success: #90cb54;
$c--warning: #ecaa34;
$c--fail: #e84c31;

.c-toreview__option {
  width: $bralpha;
  height: $bralpha;
  position: relative;
  text-align: center;

  &:before {
    content: "" !important;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(-2 * $borderette, -2 * $borderette, 0);
    border: $borderette black solid;
  }

  & + & {
    margin-left: $pad;
  }
}

.c-toreview__option--completed {
  background-color: lighten($c--success, 0%);

  &:before {
    content: "\002713";
    color: darken($c--success, 50%);
    font-weight: bold;
  }

  &:after {
    border-color: darken($c--success, 25%);
  }
}

.c-toreview__option--fixed {
  background-color: lighten($c--warning, 0%);
  &:before {
    content: "!";
    color: darken($c--warning, 50%);
  }
  &:after {
    border-color: darken($c--warning, 25%);
  }
}

.c-toreview__option--failed {
  background-color: lighten($c--fail, 0%);

  &:before {
    content: "\010102";
    color: darken($c--fail, 50%);
  }

  &:after {
    border-color: darken($c--fail, 25%);
  }
}

.c-toreview__details {
  width: 100%;
  margin-top: 0.25 * $pad;
  display: flex;
  justify-content: space-between;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.01, 0, 0.06, 1);
  .js-show & {
    max-height: 2 * $omega;
  }
}

.c-toreview__detail {
  font-family: $f2;
  font-size: $omega;
  font-weight: 300;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10rem;
}

.c-toreview__detail--doer {
  &:before {
    content: "By ";
  }
}
