@import "scss/__reset";

$c--highlight: #bb9a53;
$black: black;
$white: white;
$t--1: #f4f6f6;
$t--2: #aaa;
$c--success: #90cb54;
$c--warning: #ecaa34;
$c--fail: #e84c31;

$f1: orpheuspro;
$f2: freight-sans-pro;
$f3: freight-text-pro;

$omega: 0.8rem;
$alpha: 1rem;
$bralpha: 1.3rem;
$bravo: 1.6rem;
$charlie: 2.56rem;
$delta: 4.1rem;

$space: 1rem;
$pad: 0.75 * $space;

$border: 0.125rem;
$borderette: 0.5 * $border;

html {
   font-size: 20px;
   padding: $pad;
}

ul {
   list-style: none;
}

.c-user {
   padding: $pad;
   background: $t--1;
   text-transform: uppercase;
   font-family: $f2;
   font-size: $alpha;
   font-weight: 900;
   text-align: center;
   margin-bottom: $space;
   transition: 0.25s;
   border: 2px $t--2 solid;
}

.c-user--manager {
   background: $t--2;
   border-color: transparent;
   color: $white;
}

.c-taskCategory__title {
   font-family: $f1;
   font-size: $charlie;
   font-weight: 700;

   > span {
      font-style: italic;
      font-weight: 400;
   }
}

.c-taskSections {
   list-style: none;
}

.c-taskSection {
   & + & {
      margin-top: 2 * $space;
   }
}

.c-taskSection__title {
   font-family: $f1;
   font-size: $bralpha;
   position: relative;
   font-weight: bold;
}

.c-tasks {
   position: relative;

   &:after {
      content: "";
      position: absolute;
      right: $space + $pad;
      top: 0;
      bottom: 0;
      border-right: 2px $black dotted;
   }

   .c-taskSection__title + & {
      margin-top: $pad;
   }
}

.c-task {
   position: relative;

   & + & {
      margin-top: $pad;
      padding-top: $pad;

      &:before {
         content: "";
         position: absolute;
         border-top: 2px $black dotted;
         left: 0;
         right: 0;
         top: -1px;
      }
   }

   .c-forReviewTask & + &,
   .c-doneTask & + & {
      margin-top: ($bralpha / $bravo) * $pad;
      padding-top: ($bralpha / $bravo) * $pad;
   }
}

$fs_title--big: $bravo;
$fs_title--small: $bralpha;

.c-task__title {
   font-family: $f2;
   font-weight: 300;
   line-height: 1;
   padding-right: (2 * $space) + $pad;
   font-size: $fs_title--small;
}

.c-taskMeta__toggle {
   width: $bravo;
   height: $bravo;
   position: absolute;
   top: $pad;
   right: 0;
   text-align: center;
   transform-origin: center center;
   transition: 0.15s;
   background: url(_img/plus-duotone.svg) center center no-repeat;
   background-size: 50%;
   margin-top: -#{0.5 * ($fs_title--big - $fs_title--small)};

   :first-child > & {
      top: 0;
   }

   &.isVisible {
      transform: rotate(45deg);
   }
}

.c-taskMetaWrap {
   max-height: 0;
   overflow: hidden;
   transition: 0.3s cubic-bezier(0.01, 0, 0.06, 1);

   &.isVisible {
      max-height: 1000px;
      transition: 0.75s cubic-bezier(0.81, 0.01, 0.22, 1);
   }
}

.c-taskMeta {
   transform: translate3d(0, -100%, 0);
   transition: 0.25s ease-in;

   .isVisible & {
      transform: translate3d(0, 0, 0);
      transition: 0.2s ease 0.1s;
   }
}

.c-toolbar {
   display: flex;
   align-items: center;
   margin-top: 0.75 * $pad;
}

$h--toolbar__item: 2 * $omega;
$ratio: 0.66;
$w--icon: 0.9 * $h--toolbar__item * $ratio;

.c-toolbar__item {
   font-size: $omega;
   text-transform: uppercase;
   line-height: $h--toolbar__item;
   font-family: $f2;

   & + & {
      margin-left: 0.5 * $pad;
   }

   &:before {
      font-weight: bold;
   }
}

.c-toolbar__item--link {
   position: relative;
   text-indent: $w--icon + (0.5 * $pad);
   background: $t--1;
   padding: 0 $pad;
   cursor: pointer;

   &:before {
      content: "";
      position: absolute;
      display: inline-block;
      margin-right: 0.5 * $pad;
      width: $w--icon;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      top: 0;
      bottom: 0;
      left: $pad;
   }
}

.c-toolbar__item--worker {
   &:before {
      content: "Doer: ";
   }
}

.c-toolbar__item--reviewer {
   &:before {
      content: "Reviewer: ";
   }
}

.c-toolbar__item--reportProblem {
   &:before {
      background-image: url(_img/skull-crossbones-duotone.svg);
   }
}

.c-toolbar__item--undo {
   &:before {
      background-image: url(_img/undo-duotone.svg);
   }
}

.c-pendingTasks {
   .c-task__title {
      font-size: $fs_title--big;
      cursor: pointer;
   }

   .c-taskMeta__toggle {
      margin-top: 0;
   }

   .c-task--forReview .c-task__title,
   .c-task--blocked .c-task__title {
      text-decoration: line-through;
   }

   .c-task--forReview .c-task__title {
      color: $t--2;
   }

   .c-task--blocked .c-task__title {
      color: $c--fail;
   }
}

.c-forReviewTasks {
   .c-task {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      padding-right: (2 * $space) + $pad;
   }

   .c-task__title {
      padding-right: 0;
      width: 50%;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   .c-task--blocked .c-task__title {
      &:before {
         content: "(!) ";
         color: $c--fail;
         font-weight: bold;
      }
   }
}

.c-doneTasks {
   .c-task__title {
      text-decoration: line-through;
   }

   .c-task--complete .c-task__title {
      //color: $c--success;
   }

   .c-task--failed .c-task__title {
      color: $c--fail;
   }
}

.c-task__actions {
   width: 50%;
   display: flex;
   justify-content: flex-end;
}

.c-task__action {
   position: relative;
   text-align: center;

   &:before {
      content: "" !important;
   }

   &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translate3d(-2 * $borderette, -2 * $borderette, 0);
      border: $borderette black solid;
   }

   & + & {
      margin-left: $pad;
   }
}

.c-forReviewTask__actions {
   .c-task__action {
      width: $bralpha;
      height: $bralpha;
   }
}

.c-blockedTask__actions {
   .c-task__action {
      height: $bralpha;
      width: (1.5 * $bralpha) + (0.5 * $pad);
   }
}

.c-task__action--reviewed {
   background-color: lighten($c--success, 0%);

   &:before {
      content: "\002713";
      color: darken($c--success, 50%);
      font-weight: bold;
   }

   &:after {
      border-color: darken($c--success, 25%);
   }
}

.c-task__action--fixed {
   background-color: lighten($c--warning, 0%);
   &:before {
      content: "!";
      color: darken($c--warning, 50%);
   }
   &:after {
      border-color: darken($c--warning, 25%);
   }
}

.c-task__action--failed {
   background-color: lighten($c--fail, 0%);

   &:before {
      content: "\010102";
      color: darken($c--fail, 50%);
   }

   &:after {
      border-color: darken($c--fail, 25%);
   }
}

.c-subtasks {
   padding-top: 0.5 * $pad;
}

.c-subtask {
   font-family: $f3;
   padding: 0.125em 0;

   &:before {
      content: "+ ";
   }
}

.c-commentForm {
   position: relative;

   * + & {
      margin-top: $space;
   }
}

.c-commentForm__title {
   font-family: $f2;
   font-weight: bold;
}

@keyframes submit {
   0% {
      box-shadow: $c--success 0 0 0.25 * $pad 0.25 * $pad inset;
      border-color: $c--success;
   }

   100% {
      box-shadow: transparent 0 0 0.25 * $pad 0.25 * $pad inset;
      border-color: $black;
   }
}

.c-commentForm__textarea {
   width: 100%;
   padding: $pad;
   height: 1.2 * 6em;
   box-sizing: border-box;
   margin: 0;
   position: relative;
   z-index: 1;
   font-size: $alpha;
   font-family: $f3;
   font-style: normal;
   border: 1px $black solid;
   border-radius: none;

   &.hasSubmitted {
      animation-name: submit;
      animation-duration: 0.25s;
      animation-iteration-count: 1;
   }

   * + & {
      margin-top: $pad;
   }
}

.c-commentForm__buttonWrap {
   position: absolute;
   top: 0;
   right: 0;
}

.c-commentForm__button {
   display: inline-block;
   font-family: $f2;
   position: relative;
   text-transform: uppercase;
   font-weight: normal;
   font-size: $omega;
   line-height: $alpha;
   text-indent: $w--icon + (0.5 * $pad);
   padding: 0 $pad;
   cursor: pointer;
   transform: translate3d(0, 2.5 * $space, 0);
   transition: 0.15s ease-in;

   .hasText & {
      transform: translate3d(0, 0, 0);
   }

   &:before,
   &:after {
      content: "";
      position: absolute;
      z-index: -1;
   }

   &:before {
      line-height: $h--toolbar__item;
      background: $t--1;
      left: 0;
      right: 0;
      top: -0.5 * $pad;
      bottom: -0.5 * $pad;
   }

   &:after {
      display: inline-block;
      margin-right: 0.5 * $pad;
      width: $w--icon;
      background-image: url(./_img/check-duotone.svg);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      top: 0;
      bottom: 0;
      left: $pad;
   }
}

$h--avatar: 2rem;

.c-comments {
   * + & {
      margin-top: $space;
   }
}

.c-comment {
   position: relative;
   padding-left: $h--avatar + $pad;

   & + & {
      margin-top: 2 * $space;
   }

   &:after {
      content: "";
      position: absolute;
      top: $h--avatar + (0.5 * $pad);
      bottom: 0;
      left: 0.5 * $h--avatar;
      border-left: 6px $t--2 solid;
      margin-left: -3px;
   }

   &:nth-child(even):after {
      border-color: $black;
   }
}

.c-comment__meta {
   display: flex;
   justify-content: space-between;
}

.c-comment__avatar {
   width: $h--avatar;
   height: $h--avatar;
   position: absolute;
   left: 0;
   top: 0;
   background: url(./_img/user-astronaut-duotone.svg) center center
      no-repeat;
   background-size: contain;
}

.c-comment__avatar--astronaut {
   background-image: url(./_img/user-astronaut-duotone.svg);
}

.c-comment__avatar--cowboy {
   background-image: url(./_img/user-cowboy-duotone.svg);
}

.c-comment__avatar--crown {
   background-image: url(./_img/user-crown-duotone.svg);
}

.c-comment__avatar--ninja {
   background-image: url(./_img/user-ninja-duotone.svg);
}

.c-comment__avatar--robot {
   background-image: url(./_img/user-robot-duotone.svg);
}

.c-comment__avatar--secret {
   background-image: url(./_img/user-secret-duotone.svg);
}

.c-comment__avatar--tie {
   background-image: url(./_img/user-tie-duotone.svg);
}

.c-comment__avatar--visor {
   background-image: url(./_img/user-visor-duotone.svg);
}

.c-comment__author {
   font-family: $f2;
   font-weight: bold;
   line-height: $h--avatar;
}

.c-comment__text {
   font-family: $f3;
}

.c-comment__action {
   line-height: $h--avatar;
   font-family: $f2;
   position: relative;
   text-transform: uppercase;
   font-weight: normal;
   font-size: $omega;
   cursor: pointer;
   text-indent: $w--icon + (0.5 * $pad);
   padding: 0 $pad;
   background: $t--1;
   display: inline-block;

   &:before {
      content: "";
      position: absolute;
      display: inline-block;
      margin-right: 0.5 * $pad;
      width: $w--icon;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      top: 0;
      bottom: 0;
      left: $pad;
   }

   & + & {
      margin-left: $pad;
   }
}

.c-comment__action--edit {
   &:before {
      background-image: url(./_img/pencil-alt-duotone.svg);
   }

   &:after {
      content: "edit";
   }
}

.c-comment__action--delete {
   &:before {
      background-image: url(./_img/trash-alt-duotone.svg);
   }

   &:after {
      content: "delete";
   }
}
