$f--1: freight-sans-pro;
$f--lh: 1.3;

$omegissima: 0.65rem;
$omega: 0.8rem;
$alpha: 1rem;
$bralpha: 1.3rem;
$bravo: 1.6rem;
$chavo: 2rem;
$charlie: 2.56rem;
$delta: 4.1rem;

$fw--light: 400;
$fw--std: 500; // 500?
$fw--bold: 700; // 700?
$fw--black: 900;
